/* Add CSS styling here */
/*eric meyers*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*eric meyers end*/

/*main styling shit*/
header{background-color:grey;}
nav{display:flex;
    align-items: center;
  height:10vh;
  margin:%;
    padding: 2%;
}
h1{padding:2% 0;
font-size:40px;
margin:0 15%;
margin-left:4%}

.one{border:solid black;
background-color:white;
color:black;
width:15%;
  height:50%;
text-align:center}
.one:hover{background-color:black;
color:white;}
.two{border:solid black;
background-color:white;
color:black;
text-align:center;
width:15%;
height:50%;}
.two:hover{background-color:black;
color:white;}
.three{border:solid black;
  color:black;
background-color:white;
text-align:center;
width:15%;
height:50%;}
.three:hover{background-color:black;
color:white;}
/*section with big box div and right div*/
ul{display:flex;
padding:1%}
.flexbox{
  height:45vh;
  width:80%;
    display:inline-flex;
    flex-flow:row;
    margin-left:15%;
}
.bigbox{}
h2{font-size:30px;}

.sidetext{}
.imagerows{
  align-items:space around;
  padding:3% 2%;
  display:flex;
  flex-flow:row wrap;
  flex-direction:row;
  justify-content: space-between;}

.imagewoes{
  align-items:space around;
  padding:3% 2%;
  display:flex;
  flex-flow:row wrap;
  flex-direction:row;
  justify-content: space-between;}

footer{background-color:grey;
height:15vh;
text-align:center;
padding: 5%;}
h3{font-size:30px
border:15px;}
.button{padding: 2%}